.firstText {
	border-style: dotted;
	border-color: purple;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 20px;
	margin-bottom: 10px; 
}

.secondText {
	text-align: center;
	font-size: 10px;
	color: green;
	margin-top: 0px;
}

.thirdText {
	font-size: 30px;
	color: orange;
}

sup {
	color: red;
	font-size: 30px;
}

.fourthText {
	text-align: right;
	font-size: 7px;
	color: purple;
}

em {
	color: yellow;
}